
body {

}

footer {
    background-color: #e3f2fd;
}

.navbar-container {
    background-color: #e3f2fd;
}

.made-by {
    text-align: right;
    margin: 0px;
}

.lang-menu {
    list-style-type: none;
    margin: 0px;
}

label.required:after {
    content:"*";
    color: crimson;
}

.main-content {
}

.event-location p {
    margin-bottom: 0.5em;
}
