
body {

}

footer {
    background-color: #e3f2fd;
    position: absolute;
    bottom: 0;
}

.navbar-container {
    background-color: #e3f2fd;
}

.made-by {
    text-align: right;
    margin: 0px;
}

.lang-menu {
    list-style-type: none;
    margin: 0px;
}

label.required:after {
    content:"*";
    color: crimson;
}

.main-content {
    min-height: 100%;
    margin-bottom: 100px;
}
